<!DOCTYPE html>
<html lang="en" ng-app="balancedScorecard">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>balancedScorecard</title>

    <!-- Bootstrap Core CSS -->
    <link href="libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">


    <!-- ************************** MAIN-MENU ************************** -->


    <!-- ************************** SHARED-COMPONENTS ************************** -->
    <link rel="stylesheet" href="js/angular/shared-components/search-box/ui-select/ui-select.style.css">


    <!-- ************************** TABLERO-PAGE ************************** -->

    <link rel="stylesheet" href="js/angular/tablero-page/tablero-page.css">

    <!-- strategyTree -> abn-tree style -->
    <link rel="stylesheet" href="js/angular/tablero-page/estrategia-tree/abn-tree/abn-tree.css">
    <link rel="stylesheet" href="js/angular/tablero-page/estrategia-tree/estrategia-tree.css">

    <!-- strategyTabset -->
    <link rel="stylesheet" href="js/angular/tablero-page/strategy-tabset/strategy-tabset.css">

    <!-- ngTable -->
    <link rel='stylesheet prefetch' href="libs/bower_components/ng-table-bundle/ng-table.min.css">

    
    <!-- objetivos-actual-table -->
    <link rel="stylesheet" href="js/angular/tablero-page/objetivos-actual-table/objetivos-actual-table.css">

    <!-- objetivos-historic-table -->
    <link rel="stylesheet" href="js/angular/tablero-page/objetivos-historic-table/objetivos-historic-table.css">

    <!-- objetivos-affect-table -->
    <link rel="stylesheet" href="js/angular/tablero-page/objetivos-affect-table/objetivos-affect-table.css">


    <!-- ************************** ESTRATEGIAS-PAGE ************************** -->
    <link rel="stylesheet" href="js/angular/estrategias-page/estrategias-page.css">


    <!-- ************************** OBJETIVOS-PAGE ************************** -->

    <link rel="stylesheet" href="js/angular/objetivos-page/objetivos-page.css">


    <!-- ************************** MAPA-ESTRATEGICO-PAGE ************************** -->

    <link rel="stylesheet" href="js/angular/mapa-estrategico-page/mapa-estrategico-page.css">

    <!-- ************************** MODALS-FORM ************************** -->
    
    <link rel="stylesheet" href="js/angular/shared-components/modal-form/modal-form-all.modal.css">

    <!-- ************************** BLOCK-UI ************************** -->

    <link rel="stylesheet" href="libs/bower_components/angular-block-ui/dist/angular-block-ui.min.css">

    <!-- ************************** BLOCK-UI ************************** -->

    <link rel="stylesheet" href="libs/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="balancedScorecardController">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Cuadro de mando integral</a>
            </div>
            <!-- /.navbar-header -->
           
            <ul class="nav navbar-top-links navbar-right">
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fas fa-cog fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <search-box message="'Estrategia...'" data="estrategias" 
                                        on-select="onSelectEstrategia(value)" 
                                        select-default="selectDefault">
                            </search-box>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <!-- <a href="index.html"><i class="fa fa-cogs fa-fw"></i> Estrategia </a> -->
                            <a href="#!/home"><i class="fa fa-location-arrow fa-fw" style="margin-right:1px;"></i>Home</a>
                        </li>
                        <li>
                            <a href="#!/mapa-estrategico"><i class="fa fa-map fa-fw" style="margin-right:1px;"></i>Mapa Estratégico</a>
                        </li>
                        <li>
                            <a href="#!/estrategias"><i class="fas fa-chess-knight fa-fw" style="margin-right:1px;"></i>Estrategias</a>
                        </li>
                        <li>
                            <a href="#!/objetivos"><i class="fa fa-crosshairs fa-fw" style="margin-right:1px;"></i>Objetivos</a>
                        </li>
                        <!-- <li>
                            <a href="#!/indicadores"><i class="fa fa-tachometer-alt fa-fw"></i>Indicadores</a>
                        </li> -->
                        <li>
                            <a href="#!/informacion"><i class="fa fa-info fa-fw" style="margin-right:1px;"></i>Información</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div ng-view></div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="libs/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- fontAwesome 5.0 -->
    <script src="libs/bower_components/font-awesome-5/js/all.js"></script>

    <!-- datapicker -->
    <script type="text/javascript" src="libs/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  
    <!-- ****               **** -->
    <!-- ****  ANGULAR 1.X  **** -->
    <!-- ****               **** -->

    <!-- AngularJS 1.x  -->
    <script src="libs/bower_components/angular/angular.min.js"></script>
    <script src="libs/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="libs/bower_components/angular-route/angular-route.min.js"></script>
    <script src="libs/bower_components/angular-resource/angular-resource.min.js"></script>

     <!-- AngularChartJs -->
     <script src="libs/bower_components/chart.js/dist/Chart.js"></script>
     <script src="libs/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    

     <!-- app main module --> 
    <script src="js/app.js"></script>
    <script src="js/app.config.js"></script>
    <script src="js/app.controller.js"></script>
    <script src="js/app.service.js"></script>

    <!-- BLOCK-UI  -->

    <script src="libs/bower_components/angular-block-ui/dist/angular-block-ui.min.js"></script>

    <!-- GAUGE -->
    <script src="libs/bower_components/angularjs-gauge/src/angularjs-gauge.js"></script>


    <!-- ************************** MAIN-MENU ****************************** -->

    <!-- ************************** SHARED-COMPONENTS ****************************** -->
    
    <script src="js/angular/shared-components/search-box/ui-select/ui-select.module.js"></script>
    <script src="js/angular/shared-components/search-box/search-box.module.js"></script>
    <script src="js/angular/shared-components/search-box/search-box.component.js"></script>

    <!-- ************************** TABLERO-PAGE ************************** -->
    <!-- tablero-page -->
    <script src="js/angular/tablero-page/tablero-page.module.js"></script>
    <script src="js/angular/tablero-page/tablero-page.component.js"></script>

    <!-- strategy-tabset -->
    <script src="libs/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/angular/tablero-page/strategy-tabset/strategy-tabset.module.js"></script>
    <script src="js/angular/tablero-page/strategy-tabset/strategy-tabset.component.js"></script>

    <!-- estrategia-tree -->
    <script src="js/angular/tablero-page/estrategia-tree/estrategia-tree.module.js"></script>
    <script src="js/angular/tablero-page/estrategia-tree/estrategia-tree.component.js"></script>
    <script src="js/angular/tablero-page/estrategia-tree/abn-tree/abn-tree.directive.js"></script>

    <!-- **** TABLES **** -->
    <!-- ngTable -->
    <script src="libs/bower_components/ng-table-bundle/ng-table.min.js"></script>
    <script src="libs/bower_components/lodash/dist/lodash.min.js"></script>

    <!-- build-table-service -->
    <script src="js/angular/tablero-page/builder-table-service/builder-table-service.module.js"></script>
    <script src="js/angular/tablero-page/builder-table-service/builder-table-service.factory.js"></script>

    <!-- objetivos-actual-table-->
    <script src="js/angular/tablero-page/objetivos-actual-table/objetivos-actual-table.module.js"></script>
    <script src="js/angular/tablero-page/objetivos-actual-table/objetivos-actual-table.component.js"></script>

    <!-- objetivos-historic-table -->
    <script src="js/angular/tablero-page/objetivos-historic-table/objetivos-historic-table.module.js"></script>
    <script src="js/angular/tablero-page/objetivos-historic-table/objetivos-historic-table.component.js"></script>

    <!-- objetivos-affect-table -->
    <script  src="js/angular/tablero-page/objetivos-affect-table/objetivos-affect-table.module.js"></script>
    <script  src="js/angular/tablero-page/objetivos-affect-table/objetivos-affect-table.component.js"></script>

    <!-- objetivos-umbrales-table -->
    <script src="js/angular/tablero-page/objetivos-umbrales-table/objetivos-umbrales-table.module.js"></script>
    <script src="js/angular/tablero-page/objetivos-umbrales-table/objetivos-umbrales-table.component.js"></script>

    <!-- gauge-chart -->
    <script src="js/angular/tablero-page/gauge-chart/gauge-chart.module.js"></script>
    <script src="js/angular/tablero-page/gauge-chart/gauge-chart.component.js"></script>

    <!-- diagrama-historico -->
    <script src="js/angular/tablero-page/diagrama-historico/diagrama-historico.module.js"></script>
    <script src="js/angular/tablero-page/diagrama-historico/diagrama-historico.component.js"></script>

    <!-- ************************** ESTRATEGIAS-PAGE ************************** -->

    <!-- estrategias-page -->
    <script src="js/angular/estrategias-page/estrategias-page.module.js"></script>
    <script src="js/angular/estrategias-page/estrategias-page.component.js"></script>


    <!-- objetivos-table -->
    <script src="js/angular/estrategias-page/objetivos-table/objetivos-table.module.js"></script>
    <script src="js/angular/estrategias-page/objetivos-table/objetivos-table.component.js"></script>

    <!-- perspectivas-table -->
    <script src="js/angular/estrategias-page/perspectivas-table/perspectivas-table.module.js"></script>
    <script src="js/angular/estrategias-page/perspectivas-table/perspectivas-table.component.js"></script>

    <!-- ************************** OBJETIVOS-PAGE ************************** -->

    <script src="js/angular/objetivos-page/objetivos-page.module.js"></script>
    <script src="js/angular/objetivos-page/objetivos-page.component.js"></script>

    <script src="js/angular/objetivos-page/objetivos-afectantes-table/objetivos-afectantes-table.module.js"></script>
    <script src="js/angular/objetivos-page/objetivos-afectantes-table/objetivos-afectantes-table.component.js"></script>

    <script src="js/angular/objetivos-page/kpis-afectantes-table/kpis-afectantes-table.module.js"></script>
    <script src="js/angular/objetivos-page/kpis-afectantes-table/kpis-afectantes-table.component.js"></script>

    <!-- ************************** MAPA-ESTRATEGICO-PAGE ************************** -->

    <script type="text/javascript" src="js/angular/mapa-estrategico-page/go.js"></script>
    <script src="js/angular/mapa-estrategico-page/mapa-estrategico-page.module.js"></script>
    <script src="js/angular/mapa-estrategico-page/mapa-estrategico-page.component.js"></script>

    <!-- ************************** INDICADORES-PAGE ************************** -->
    
    <script src="js/angular/indicadores-page/indicadores-page.module.js"></script>
    <script src="js/angular/indicadores-page/indicadores-page.component.js"></script>

    <!-- kpi-all-table -->
    <script src="js/angular/indicadores-page/kpi-all-table/kpi-all-table.module.js"></script>
    <script src="js/angular/indicadores-page/kpi-all-table/kpi-all-table.component.js"></script>

    <!-- ************************** CORE ************************** -->
    <script src="js/angular/core/core.module.js"></script>

    <!-- Estrategia -->
    <script src="js/angular/core/estrategia/estrategia.module.js"></script>
    <script src="js/angular/core/estrategia/estrategia.service.js"></script>

    <!-- Perspectiva -->
    <script src="js/angular/core/perspectiva/perspectiva.module.js"></script>
    <script src="js/angular/core/perspectiva/perspectiva.service.js"></script>

    <!-- Objetivo -->
    <script src="js/angular/core/objetivo/objetivo.module.js"></script>
    <script src="js/angular/core/objetivo/objetivo.service.js"></script>

    <!-- Indicador -->
    <script src="js/angular/core/indicador/indicador.module.js"></script>
    <script src="js/angular/core/indicador/indicador.service.js"></script>


        
</body>

</html>
