<div class="">
    <h3 style="display:inline-block;">Objetivos que me afectan</h3>
    <button class="btn btn-primary btn-sm" ng-show="!isEditing" ng-disabled="!$ctrl.data" ng-click="isEditing = true" style="margin-left:12px;">
            <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <div class="">
        <div class="btn-group pull-left" style="margin-bottom:6px;">
            <button class="btn btn-success" ng-if="isEditing" ng-disabled="!objetivoSeleccionado || deleteCount > 0" ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span>                
            </button>
            <button class="btn btn-primary" ng-if="isEditing" ng-disabled="!hasChanges()" ng-click="saveChanges()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-warning" ng-if="isEditing" ng-click="cancelChanges()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-7">
        <search-box ng-show="isEditing" data="$ctrl.objetivos" on-select="onSelectObjetivo(value)" message="'Seleccionar objetivo...'"></search-box>
    </div>
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed table-striped table-objetivos-page"  show-filter="false" >
        <colgroup>
            <col width="80%" />
        </colgroup>
        <tr ng-repeat="row in $data track by row.objetivoAfectante.id">
            <td title="'OBJETIVO'" sortable="'objetivoAfectante.nombre'">
                <span class="">{{row.objetivoAfectante.nombre}}
                    <button class="btn btn-danger btn-sm pull-right"  ng-click="del(row)" ng-hide="!isEditing" ng-disabled="isRowAdded"><span class="glyphicon glyphicon-trash"></span></button>
                </span>
            </td>
            <!-- <td title="'VALOR'" sortable="'nombre'" style="text-align:center !important;">
                <span class="">{{row.objetivoAfectante.valor}}%
                    <button class="btn btn-danger btn-sm pull-right"  ng-click="del(row)" ng-hide="!isEditing" ng-disabled="isRowAdded"><span class="glyphicon glyphicon-trash"></span></button>
                </span>
            </td> -->
        </tr>
    </table>
    <!-- <h1>anda {{changeDataset}}</h1> -->
</div>