<div class="">
    <h3 style="display:inline-block;">KPIs del objetivo</h3>
    <button class="btn btn-primary btn-sm" ng-show="!isEditing" ng-disabled="!$ctrl.data" ng-click="isEditing = true" style="margin-left:12px;">
            <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <div class="">
        <div class="btn-group pull-left" style="margin-bottom:6px;">
            <button class="btn btn-success" ng-if="isEditing" ng-disabled="!indicadorSeleccionado || !pesoSeleccionado || deleteCount > 0" ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-primary" ng-if="isEditing" ng-disabled="!hasChanges()" ng-click="saveChanges()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-warning" ng-if="isEditing" ng-click="cancelChanges()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-7">
        <search-box ng-show="isEditing" on-select="onSelectKpi(value)" data="indicadores" message="'Seleccionar indicador...'"></search-box>
    </div>
    <div class="col-lg-2">
        <search-box ng-show="isEditing" on-select="onSelectPeso(value)" data="pesos" message="'Peso'"></search-box>
    </div>
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed table-striped table-objetivos-page"  show-filter="false" >
        <colgroup>
            <col width="50%"/>
            <col width="20%"/>
            <col width="30%"/>
        </colgroup>
        <tr ng-repeat="row in $data track by row.indicador.id">
            <td title="'KPI'" sortable="'indicador.nombre'">
                <span class="">{{row.indicador.nombre}}</span>
            </td>
            <td title="'PESO'" sortable="'peso'" style="text-align:center !important;">
                <span class="">{{row.peso}}</span>
            </td>
            <td title="'% PESO'" sortable="'peso'" style="text-align:center !important;">
                <span class="">{{getPorcentaje(row.peso) | number:2}}%
                    <button class="btn btn-danger btn-sm pull-right"  ng-click="del(row)" ng-hide="!isEditing" ng-disabled="isRowAdded"><span class="glyphicon glyphicon-trash"></span></button>
                </span>
            </td>
        </tr>
    </table>
</div>